<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/mamazon.css" th:href="@{/css/mamazon.css}" media="all" />
</head>

<body class="">
  <div class="py-5">
    <div class="col-md-12">
    <img class="img-fluid d-block mx-auto" src="/image/mamazonlogo.png" th:href="@{/image/mamazonlogo.png}" /> </div>
    <div class="container" style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
      <div class="row">
        <div class="col-md-12 w-50" >
          <h1 class="text-left">サインイン</h1>
          <form class="" method="post" action="https://formspree.io/">
            <div class="form-group text-left"> <label class="text-left">Eメールまたは携帯電話番号</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" /> </div>
            <div class="form-group text-left"> <label>パスワード</label> <a href="forget_password" class="text-right">パスワードを忘れた場合</a>
              <input type="password" name="password" class="form-control" placeholder="Password" /> </div>
            <button type="submit" class="btn btn-primary btn-block">ログイン</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center">Mamazonの新しいお客様ですか？ </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-block btn-secondary" href="">Mamazonアカウントを作成する</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 text-center">
              <p>
                <a href="terms_of_service" class="text-white">利用規約</a>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="privacy" class="text-white">プライバシー規約</a>
            </div>
            <div class="col-md-4 text-center">
              <a href="help" class="text-white">ヘルプ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© 2017, MamazonProject</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>