<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Title</title>
<link rel="stylesheet" type="text/css" href="a.css" media="all" />
</head>
<body>

	<div id="header">
		<div id="headerTop"></div>
	</div>

	<div id="left">
		<div id="product_image"></div>

	</div>

	<div id="center">
		<div id="product_title"></div>

	</div>

	<div id="right">
		<select name="quantity">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select> <input type="submit" name="add_to_cart" value="カートに入れる">
	</div>



</body>
</html>